n8n/AddFileToOpenWebUiKB.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/pipeline-input",
        "events": [
          "add"
        ],
        "options": {
          "awaitWriteFinish": true
        }
      },
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "308486ad-d5ea-48e0-a1fe-3fefe7b988dc",
      "name": "Local File Trigger"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.content.parseJson().path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "id": "429bd8b4-89f1-42ac-b2ca-643cf78bb1e2",
      "name": "Read File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/v1/files/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-38ebf3557fa1417488f83853a3700b83"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ],
      "id": "e2b2e6bf-2438-46e2-bcf6-00b48a3d2521",
      "name": "POST File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/v1/knowledge/7045719c-3581-4c55-9188-27e4ded9d524/file/add",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-38ebf3557fa1417488f83853a3700b83"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_id",
              "value": "={{ $json.body.id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        0
      ],
      "id": "1230cfd8-fa66-4e8a-a1de-f9df767bc19c",
      "name": "Add File To KB",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "queue": "openwebui",
        "options": {}
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        220,
        0
      ],
      "id": "8b473f73-4e80-47f7-968e-94399b8f9b3e",
      "name": "RabbitMQ",
      "credentials": {
        "rabbitmq": {
          "id": "ObADoCJ7GbRGwdMN",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "queue": "openwebui",
        "options": {
          "acknowledge": "executionFinishes",
          "parallelMessages": 1
        }
      },
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        500,
        0
      ],
      "id": "684156b9-03fb-463a-aaf5-cc817dca47f5",
      "name": "RabbitMQ Trigger",
      "credentials": {
        "rabbitmq": {
          "id": "ObADoCJ7GbRGwdMN",
          "name": "RabbitMQ account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Local File Trigger": {
      "main": [
        [
          {
            "node": "RabbitMQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File": {
      "main": [
        [
          {
            "node": "POST File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST File": {
      "main": [
        [
          {
            "node": "Add File To KB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ Trigger": {
      "main": [
        [
          {
            "node": "Read File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cbe61ec6-ef1c-44e1-b33e-26a4e54ddac4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59cf8eff8c4a56c0c2dc6bf4d1718c99914dda408a46632d3bda967ec21070e6"
  },
  "id": "n8aLY8wUdczwIbu1",
  "tags": []
}